.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header img {
  width: 40px;
  height: 40px;
  float:left;
}
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

                                                        /* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  height: 50 px;
}
                                                        /* Make the masthead heading the same height as the navigation */
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:'Comic Sans MS', cursive, sans-serif;
}

                                                          /* Custom page footer */
.footer {
  color: #777;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
}                                                          /* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

                                                            /* Responsive: Portrait tablets and up */
.k-grid {
  max-width: 100vw !important;
}
                                                            /* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}
header, footer {
  padding: 1em;
  color: white;
  background-color: darkslategrey;
  clear: left;
  text-align: center;
}
.max-width-employee-info {
  width: -webkit-fill-available !important;
  word-wrap: break-word;
  padding: inherit;
}
                                                            /* employee-details */
.employeeDetailsContainer{
  margin-top: 60px !important;
  margin-right: 50px;
  margin-left: 50px;
}
.grid-container {
  display: grid !important;
  grid-template-columns: 250px auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: left;
}
.employeeDetailsName{
  font-size: 30px;
}
.zoomin img {
  height: 100px;
  width: 100px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.zoomin img:hover {
  width: 130px;
  height: 130px;
}
#returnToList{
  background-color: darkgrey;
  color: black;
}
                                                            /* employee-list */
#grid {
  left: 0;
}
.k-grid-content.k-auto-scrollable{
  height: auto;
}
.ng-scope.k-grid.k-widget.k-display-block{
  height: auto !important;
}
.employee-photo {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
  margin-left: 5px;
}
.employee-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 3px;
}

                                                          /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

                                                          /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
