<header>
  <h1>EMPLOYEE-Details</h1>

</header>
<div>
  <table>
    <tr>
      <td>Id</td>
      <td>{{employee.id}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{employee.name}}</td>
    </tr>
    <tr>
      <td>project</td>
      <td>{{employee.project}}</td>
    </tr>
    <tr>
      <td>designation</td>
      <td>{{employee.position}}</td>
    </tr>
    <tr>
      <td>address</td>
      <td>{{employee.address}}</td>
    </tr>
    <tr>
      <td>Phone no</td>
      <td>{{employee.contact}}</td>
    </tr>
  </table>
  <button id="returnToList" ui-sref="employees">Return to list</button>
</div>
