
  <header class="header">
    <h5>  <img src="favicon.ico" alt="logo" /></h5>
    <h3>EMPLOYEE DETAILS</h3>
  </header>

<div>
  <button id="returnToList" class="button goBackButton" ui-sref="employees" style="float:right">Return to list</button>
</div>
<div class="container employeeDetails">


  <div class="ui styled fluid accordion">
    <div class="title active">
      <div class="employeeName">
        <i class="dropdown icon"></i>
        {{employee.name}}
      </div>
    </div>
    <div class="content active grid-container">
      <!-- <table class="max-width-employee-info">
        <tr>

          <th>CONTACT:</th>
          <td>{{employee.contact}}</td>

          <th>PROJECT:</th>
          <td>{{employee.project}}</td>
        </tr>
        <tr>
          <th>ADDRESS:</th>
          <td>{{employee.address}} </td>
        </tr>
      </table> -->
      <div></div>
      <div><b>CONTACT:</b> {{employee.contact}} <br /> <div><b>ADDRESS:</b> {{employee.address}}</div></div>
      <div><b>PROJECT:</b> {{employee.project}}</div>
      <div class="zoomin"><img src="https://randomuser.me/api/portraits/thumb/men/{{employee.id}}.jpg" style="height:100px" alt="Employee Photo"></div>

    </div>
  </div>
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
  </div>
  <div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <ng-include src="'views/employee-list.html'"></ng-include>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
  </div>
</div>
