
  <header class="header">
    <h5>  <img src="favicon.ico" alt="logo" /></h5>
    <h3>EMPLOYEE DETAILS</h3>
  </header>
<div class="employeeDetailsContainer">


  <div class="ui styled fluid accordion">

    <div class="title active">
      <div class="employeeDetailsName">
        <i class="dropdown icon"></i>
        {{employee.name}}
      </div>
    </div>
    <button id="editEmployeeButton" class="button" style="float:right">Edit Employee</button>
    <!-- The Modal -->
    <div id="editEmployeeModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form name="saveTemplateData" ng-submit="editEmployee()">
          NAME:    <br/><input type="text" id="name" value={{employee.name}}>    <br/><br/>
          CONTACT: <br/><input type="text" id="contact" value={{employee.contact}}> <br/><br/>
          PROJECT: <br/><input type="text" id="project" value={{employee.project}}> <br/><br/>
          POSITION: <br/><input type="text" id="position" value={{employee.position}}> <br/><br/>
          ADDRESS: <br/><input type="text" id="address" value={{employee.address}}> <br/><br/>
          <input type="submit" value="Submit">
        </form>

      </div>

    </div>
    <div class="content active grid-container">
        <div></div>
        <div>
          <div><b>CONTACT:</b> {{employee.contact}}</div><br />
          <div><b>PROJECT:</b> {{employee.project}}</div><br />
          <div><b>ADDRESS:</b> {{employee.address}}</div><br />
          <div><b>POSITION:</b> {{employee.position}}</div>
        </div>
      <div class="zoomin"><img src="https://randomuser.me/api/portraits/thumb/men/{{employee.id}}.jpg" style="height:100px" alt="Employee Photo"></div>
    </div>
  </div>
  <br />
  <div>
    <button id="returnToList" class="button" ui-sref="employees" style="float:right">Return to list</button>
  </div>
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
  </div>
  <div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <ng-include src="'views/employee-list.html'"></ng-include>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
  </div>
</div>
